<div class="container">
    <!-- <div class="row">
      <div class="col-lg-12"> -->
        <div class="jumbotron" id="parent">
          <div>
            <img src="https://dashboard.latlong.in/images/Latlong-Logo.png" alt="latlong">
          </div>

        </div>

      <!-- </div>
    </div> -->

    <div class="row">
      <div class="col-lg-12"><h1><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Login</h1></div>
      <div class="col-lg-12">

        <%= form_tag(:controller => 'login', :action => 'next' , method: "post") do %>
            <div class="form-group form-group-sm" id="login_form_group">
                <%= label_tag(:user_name , "Username", class: 'col-sm-offset-2 col-sm-3 control-label temp') %>
                <div class="col-sm-6">
                  <%= text_field(:user,:user_name,class: "form-control") %>
                </div>
            </div>

            <div class="form-group form-group-sm" id="login_form_group">
              <%= label_tag(:password, "Password", class: "col-sm-offset-2 col-sm-3 control-label temp") %>
              <div class="col-sm-6">
                <%= password_field(:user,:password, class: "form-control") %>
              </div>
            </div>

            <div class="form-group form-group-sm" id="login_form_group">
              <div class="col-sm-offset-5 col-sm-5">
                <%= button_tag type: 'submit', class: "btn btn-default", id: "btn-login" do%>
                  Login<span class='glyphicon glyphicon-menu-right' aria-hidden='true'></span>
                <% end %>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
